<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Save</servlet-name>
  	<display-name>Save</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Save</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<display-name>delete</display-name>
  	<description></description>
  	<servlet-class>com.servlets.delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update</servlet-name>
  	<display-name>update</display-name>
  	<description></description>
  	<servlet-class>com.servlets.update</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Save</servlet-name>
  	<url-pattern>/Save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>
